/* Pizazz SliderPlus Dark theme */
.pzsp-darktheme .is-text {background-color:#222;color:#ddd;}

.pzsp-darktheme .pzsp-container {
	background-color:transparent;
}

.pzsp-darktheme .pzsp-outer-wrapper {background-color:#222;}
.pzsp-darktheme .pzsp-inner-wrapper {border:solid 1px #222;background:#222;}
.pzsp-darktheme .pzsp-contents {}
.pzsp-darktheme .pzsp-content-leftortop {}
.pzsp-darktheme .pzsp-content-rightorbottom {}
.pzsp-darktheme .pzsp-navigation {}
.pzsp-darktheme .pzsp-navigation a {color:#0066aa}

.pzsp-darktheme .pzsp-content-container {}
.pzsp-darktheme .is-image {}
.pzsp-darktheme .is-text {}

.pzsp-darktheme .pzsp-nav-item {}

.pzsp-darktheme .pzsp-text-content {color:#ddd;}

.pzsp-darktheme .pzsp-contents {}

.pzsp-darktheme .pzsp-text-content h2,
.pzsp-darktheme .pzsp-text-content h3,
.pzsp-darktheme .pzsp-text-content h4
{
	color:#fff;
	font-weight:bold;font-size: 16px;;margin-bottom:5px;font-family:sans-serif;
}
.pzsp-darktheme .pzsp-text-content a
{
	color:#fff;
	text-decoration:none;
}

.pzsp-darktheme .pzsp-navigation .navtype-text,
.pzsp-darktheme .pzsp-nav-container
 {
background: #454545;
background: -moz-linear-gradient(top,  #454545 0%, #000000 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#454545), color-stop(100%,#000000));
background: -webkit-linear-gradient(top,  #454545 0%,#000000 100%);
background: -o-linear-gradient(top,  #454545 0%,#000000 100%);
background: -ms-linear-gradient(top,  #454545 0%,#000000 100%);
background: linear-gradient(top,  #454545 0%,#000000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454545', endColorstr='#000000',GradientType=0 );
}


.pzsp-darktheme .pzsp-navigation .navtype-text {
	text-shadow: -1px -1px 1px #222;

}
.pzsp-darktheme .pzsp-nav-item.navtype-text {
border-left:solid 1px #5e5e5e;
border-right:solid 1px #333;
}

.pzsp-darktheme .pzsp-navigation .navtype-bullets {
}

.pzsp-darktheme ul.pzsp-navigation .navtype-numbers {
}

.pzsp-darktheme .pzsp-navigation td.navtype-text:hover, 
.pzsp-darktheme .pzsp-navigation .navtype-text td:hover 
{
background: #777777;
background: -moz-linear-gradient(top,  #777777 0%, #555555 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#777777), color-stop(100%,#555555));
background: -webkit-linear-gradient(top,  #777777 0%,#555555 100%);
background: -o-linear-gradient(top,  #777777 0%,#555555 100%);
background: -ms-linear-gradient(top,  #777777 0%,#555555 100%);
background: linear-gradient(top,  #777777 0%,#555555 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#555555',GradientType=0 );
}

.pzsp-darktheme .pzsp-navigation a span {
	color:#777;
	text-shadow: 0 1px 1px #eee, 0 -1px 1px #111;
}
.pzsp-darktheme .pzsp-navigation td:hover a span {
	color:#aaa;
	text-shadow: 0 1px 1px #fff, 0 -1px 1px #111;
}

.pzsp-darktheme .pzsp-navigation .navtype-bullets.cycle-pager-active a  span
{
	color:#eee;
	text-shadow: 0 1px 1px #fff, 0 -1px 1px #111;
}
.pzsp-darktheme .pzsp-navigation  .navtype-bullets a span 
{
	color:#999999;
	text-shadow: 0 1px 1px #fff, 0 -1px 1px #111;
}
.pzsp-darktheme .pzsp-navigation td.navtype-bullets:hover a span
{
	color:#fff;
	text-shadow: 0 1px 1px #fff, 0 -1px 1px #111;
}

.pzsp-darktheme .pzsp-navigation .navtype-squares.cycle-pager-active a  span span.draw-square-bullet
{
	background-color:#eee;
	text-shadow: 0 1px 1px #fff, 0 -1px 1px #111;
}
.pzsp-darktheme .pzsp-navigation  .navtype-squares a span  span.draw-square-bullet
{
	background-color:#999999;
	text-shadow: 0 1px 1px #fff, 0 -1px 1px #111;
}

.pzsp-darktheme .pzsp-navigation td.navtype-squares:hover a span span.draw-square-bullet
{
	background-color:#fff;
	text-shadow: 0 1px 1px #fff, 0 -1px 1px #111;
}

.pzsp-darktheme .pzsp-navigation tr.cycle-pager-active td.navtype-text,
.pzsp-darktheme .pzsp-navigation td.navtype-text.cycle-pager-active 
{
background: #777777;
background: -moz-linear-gradient(top,  #777777 0%, #0e0e0e 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#777777), color-stop(100%,#0e0e0e));
background: -webkit-linear-gradient(top,  #777777 0%,#0e0e0e 100%);
background: -o-linear-gradient(top,  #777777 0%,#0e0e0e 100%);
background: -ms-linear-gradient(top,  #777777 0%,#0e0e0e 100%);
background: linear-gradient(top,  #777777 0%,#0e0e0e 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#0e0e0e',GradientType=0 );
}

.pzsp-darktheme .pzsp-navigation .cycle-pager-active a  span {
	color:#ddd;
	text-shadow: 0 1px 1px #eee, 0 -1px 1px #111;
}

.pzsp-darktheme .pzsp-navigation tr.cycle-pager-active td.navtype-asterisks, 
.pzsp-darktheme .pzsp-navigation tr.cycle-pager-active td.navtype-numbers, 
.pzsp-darktheme .pzsp-navigation tr.cycle-pager-active td.navtype-bullets,
.pzsp-darktheme .pzsp-navigation td.navtype-asterisks.cycle-pager-active, 
.pzsp-darktheme .pzsp-navigation td.navtype-numbers.cycle-pager-active, 
.pzsp-darktheme .pzsp-navigation td.navtype-bullets.cycle-pager-active, 
.pzsp-darktheme .pzsp-navigation .navtype-asterisks, 
.pzsp-darktheme .pzsp-navigation .navtype-numbers, 
.pzsp-darktheme .pzsp-navigation .navtype-bullets 
{
background:transparent	
}
.pzsp-darktheme .pzsp-navigation .navtype-text a span {
	text-shadow:none;
}

.pzsp-darktheme .pzsp-navigation .navtype-text:hover a span{
	text-shadow: none;
}


.pzsp-darktheme .pzsp-inner-wrapper {}

/* No background settings */

.pzsp-darktheme .pzsp-outer-wrapper {
}
